.card_container {
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 8px;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
}
.title {
  font-size: 20px;
  color: black;
}
.content_container {
  padding: 16px;
}
.rate {
  display: flex;
  align-items: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 16px;
  height: 93%;
}
.card:hover {
  transform: scale(1.1);
}
.description {
  color: #555;
  margin-bottom: 12px;
}
.price {
  font-weight: bold;
  color: #008000;
}
.link {
  text-decoration: none;
}
