.filter_container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background: #e2e2e2;
  top: 80%;
  border-radius: 5px;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
  height: 65px;
  align-items: center;
}
.accordion:hover {
  background: #fe017e;
  cursor: pointer;
}

.accordion {
  font-size: 16px;
  padding: 1rem;
  background: #fe017e;
  border-radius: 5px;
  color: white;
  margin: 1rem 0;
  display: block;
}

.accordion > i {
  float: inline-end;
  font-size: 20px;
  font-weight: bold;
}

.product_filter_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.each_filter_container {
  position: relative;
  width: 30%;
}

.filter_container > label {
  padding: 0.5rem;
}

.accordion_checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion_checkbox:checked ~ .filter_container {
  overflow: auto;
  max-height: 200px;
  padding: 1rem 0;
  border: 1px solid #d3d3d3;
}
.price {
  text-align: center;
  width: 10%;
  font-size: 18px;
  text-shadow: 0 0 1px rgba(39, 37, 37, 0.8);
}
.row > span {
  width: 65%;
}
.pF_container {
  width: 100%;
}
.search_container > input {
  width: 50%;

  margin-left: 3.5%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 1rem;
}
