.product_item {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  gap: 10%;
  margin: 4%;
  border-radius: 3px;
}

.thumbnail {
  width: 100%;
  height: 50vh;
  margin-right: 10px;
  object-fit: contain;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.rate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product_details {
  flex: 1;
}
.image_container {
  width: 50%;
}
.secondary_image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ddd;
  cursor: pointer;
}
.secondary_image_container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  width: 100%;
  padding: 0.3rem 1rem;
}
.back_btn {
  position: fixed;
  top: 40vh;
  left: -5px;
  color: white;
  font-size: 30px;
  height: 200px;
  max-width: 35px;
  border-radius: 5px;
  background-color: #fe017e;
  border: none;
  transition: ease-in-out 0.2s width;
  display: flex;
  align-items: center;
}
.back_btn:hover {
  max-width: 40px;
}
.back_btn > i {
  transition: ease-in 0.2s font-size;
}
.back_btn:hover {
  font-size: 40px;
}
.desc {
  margin-top: 1rem;
}
.similar_items {
  display: flex;
  width: 90%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 4%;
  border-radius: 3px;
  justify-content: space-between;
}
.similar_item {
  border: 1px solid #ddd;
  padding: 0.5rem;
  cursor: pointer;
}

.similar_item_img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ddd;
  cursor: pointer;
}
.similar_item_title {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .secondary_image {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .product_item {
    flex-direction: column;
  }
  .image_container {
    width: 93%;
  }
  .similar_items {
    overflow-x: auto;
    padding: 0;
  }
}
