.select {
  height: 35px;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 15vw;
}
@media screen and (max-width: 600px) {
  .select {
    width: 100%;
    margin: 0;
  }
}
